body {
    background: #0d0d0d;

}

.project-container {
    width: 100%;
    height: calc(100vh - 130px);
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    border-radius: 0px 0 100px 100px;
}

.project-img {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;

}

.project-image {
    width: 70%;
}

.project-desc {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 90px;
}

.project-h1 {
    font-size: 35px;
}

.pro-span {
    font-size: 35px;
    font-weight: 700;
    color: #511ce3;
}

.card-section {
    width: 100%;
    height: max-content;
    background: #0d0d0d;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 75px 0px;
}

.cards {
    width: 85%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    width: 315px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    border-radius: 10px;
    color: white;
    margin: 10px 0;
    background-color: #161616;
}

.item:hover {
    border: 1px solid gray;
}

.item-img {
    width: 100%;
    height: 57%;
    border-radius: 9px;
    margin-bottom: 18px;
}

.project-btn {
    width: 35%;
    height: 35px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 600;
}

.live-btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 44px;
}

.card-desc {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-desc-p {
    font-size: 12px;
    margin-top: 8px;
}

@media screen and (max-width: 700px) {
    .project-container {
        flex-direction: column;
        justify-content: space-around;
        border-radius: 0px 0 70px 70px;
    }

    .project-desc {
        width: 100%;
        height: 50%;
        padding: 0 30px;
    }

    .project-img {
        width: 100%;
        justify-content: center;
        height: 85%;
    }
}